<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<header>
  <div class="h1 header-logo col-12 d-flex align-items-center">
    <img class="w-100"
        src="assets/images/herobanner.jpg"
        alt="site logo">
  </div>
  <!-- <nav class="navbar bg-primary navbar-expand-md text-dark"> -->
  <nav class="navbar navbar-expand-md ">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/Home"><img src="assets/images/icon3.jpg" alt="Home Icon"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ">
          <li class="nav-item">
            <a class="nav-link " routerLinkActive="active" aria-current="page" routerLink="/Home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLinkActive="active" aria-current="page" routerLink="/FindaHero">Find A Hero</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLinkActive="active" aria-current="page" routerLink="/Register">Register</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link " routerLinkActive="active" aria-current="page" routerLink="/Delete">Delete</a>
          </li> -->

        </ul>
      </div>
    </div>
  </nav>

</header>

<main>
  <div class="container">
    
    <router-outlet></router-outlet>
  </div>
</main>
<!-- Footer -->
<footer class="pt-2 pb-3">
  <!--Address Tag -->
  <address>
      Visit us! <br>
      Michigan and Trumbell Ave <br>
      Detroit, Michigan 48316
  </address>
  <!-- Links -->
  <div>
      Written by <a href="mailto:mark.galasso@centene.com">Mark Galasso</a>.<br>
      
  </div>
  <div>
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#" class="pl-5"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-google-plus"></i></a>
      <a href="#"><i class="fa fa-youtube"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>
  <!-- End Links -->
</footer>
<!-- End Footer -->