footer,
address {
    text-align: center;
    /* background-color: #F4A637; */
    background-color: #187AA7;
    color: black;
}

footer a {
    color: white;
}

.navbar {
    background-color: #187AA7;
}

.fa-twitter,
.fa-google-plus,
.fa-youtube,
.fa-linkedin,
.fa-facebook {
    padding-right: 1rem;
}

