<main>
    <!-- General Info Section -->
    <section>
        <h1>Welcome to the Superhuman Registration site!</h1>
        <!-- Divs with Paragraphs and ul example -->
        <div class="container">
            <div class="row text-sm-start">
                <div class="col-md">
                    <h3>The Superhuman Registration Act</h3>
                    <p>The <b>Superhuman Registration Act</b> (<b>SRA</b>, <b>S.R.A.</b> or sometimes <b>SHRA</b>) 6
                        U.S.C, § 558 - was a
                        legislative bill (HR 421) which was passed into law in the United States of
                        America, allowing the registration of super-powered individuals with the
                        government. Supporters and critics debated between the rights of the individual (to freedom of
                        action and expression etc.) on one side versus the rights of society at large (to safety from
                        danger or harm) on the other.
                    </p>
                    <div class="standalonepicture">
                        <h4>Receive your Superhero Id Card for discounts around the world!</h4>
                        <img class="w-100" src="assets/images/regcard.jpg" alt="Registration Card">
                    </div>
                </div>
                <div class="col-md">
                    <h3>These superheroes are ready to come to the rescue</h3>

                    <div id="carouselExampleDark" class="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleDark
                            " data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleDark
                            " data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleDark
                            " data-bs-slide-to="2" aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#carouselExampleDark
                            " data-bs-slide-to="3" aria-label="Slide 4"></button>
                            <button type="button" data-bs-target="#carouselExampleDark
                            " data-bs-slide-to="4" aria-label="Slide 5"></button>
                        </div>

                        <div class="carousel-inner" *ngFor="let hero of wSuperHeroes | slice:1:6; index as i">
                            <div class="carousel-item" [class.active]="i == 0">
                                <div (click)="viewDetails(hero.id.toString())">
                                    <img src='assets/images/{{hero.nickName.trim()}}.jpg' class="d-block w-100" alt={{hero.name}}>
                                </div>
                            </div>

                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <!-- <div class="col-md">
                    Last year we decided to expand out content to football and basketball cards, but as we all know,
                    baseball is the king of all soprts cards, so we are keeping our name as Hall of Fame Baseball
                    cards.
                </div> -->
            </div>
        </div>
        <!-- End Divs with Paragraphs and ul example -->
    </section>
    <!-- End General Info Section -->
    <!-- Imbedded Video Section -->
    <section>
        <div class="container p-3">
            <h2>Watch a short view about the origins of the registry</h2>
            <div class="d-flex justify-content-center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/eLChzMaKuUA"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>


            </div>
        </div>
    </section>
    <!-- End Imbedded Video Section -->
</main>