.btn {
    background-color: #187AA7;
    color: black;

}

h1,
h2 {
    text-align: center;
    color: black;
}

.btn:hover {
    /* color: #FFF100; */
    background-color: #25aae7
    /* border: black solid 2px; */
}

