<h1>Find a hero for any of your needs</h1>
<div class="container mt-2 mb-2">
    <form name="myForm">
        <p>Filter by a super power</p> 
        <select class="form-outline flex-fill mb-0 mr-2" name="powerselect" id="" [(ngModel)]="selectedPower">
            <option [value]="999" title="allsuperpowers">All Superheroes</option>
            <option *ngFor="let power of wPowers" [value]="power.id" [title]="power.description">{{power.name}}</option>
        </select>
        &nbsp;
        <button class="btn btn-primary ml-2" (click)="onSubmit()">Filter</button>
    </form>
</div>
<div class="container mt-2 mb-2">
    <div class="row">
        <div class="card col-md-4 col-sm-6 col-lg-3 d-flex flex-column mb-2 pb-2 " *ngFor="let hero of wSuperHeroes">
            <h6 class="card-title mx-auto">{{hero.nickName}}</h6>
            <img src='assets/images/{{hero.nickName.trim()}}.jpg' alt={{hero.name}} class="mt-auto">
            <button type="button" class="btn btn-primary pt-2 mt-2" (click)="viewDetails(hero.id.toString())">View
                Details</button>
            
        </div>
    </div>
</div>

