h1, h2{
    text-align: center;
}

@media (min-width: 1000px) {
    img.standalonepicture {
        display: none;
    }
}

.btn {
    background-color: #187AA7;
    color: black;

}

.tdpadding{
    padding-left: 10px;
}

.buttonPaddingLeft{
    padding-left: 50px;
}

.buttonPaddingRight{
    padding-right: 50px;
}

.btn:hover {
    /* color: #FFF100; */
    background-color: #25aae7
    /* border: black solid 2px; */
}