<h1>{{detailSuperHero.nickName}}</h1>
<div class="row">
    <div class="col-md-12 col-sm-12 col-lg-6">
        <div class="ml-2 mb-2 p-2">
            <h2 class="px-5">Contact Information</h2>
            <table class="mx-5">
                <!-- <tr>
                    <th>Personal Information</th>
                    <th>Description</th>
                </tr> -->
                <tr>
                    <td><b>Name</b></td>
                    <td class="tdpadding">{{detailSuperHero.name}}</td>
                </tr>
                <tr>
                    <td><b>Nickname</b></td>
                    <td class="tdpadding">{{detailSuperHero.nickName}}</td>
                </tr>
                <tr>
                    <td><b>Phone</b></td>
                    <td class="tdpadding">{{detailSuperHero.phone}}</td>
                </tr>
                <tr>
                    <td><b>Date of Birth</b></td>
                    <td class="tdpadding">{{displaydob}}</td>
                </tr>
            </table>
        </div>
        <div class="container mt-2 mb-2">

            <div class="row justify-content-center">
                <div class="ml-2 mb-2 p-2">
                    <h2 class="px-5">Power List</h2>
                    <table class="mx-5">
                        <!-- <tr>
                            <th>Name</th>
                            <th>Description</th>
                        </tr> -->
                        <tr *ngFor="let power of wHeroPowers">
                            <td class=" p-2"><b>{{power.name}}</b></td>
                            <td class=" p-2">{{power.description}}</td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
        <div class="col px-5">
            <button (click)="openModal(detailSuperHero)" class="btn btn-lg float-start">Update Hero</button>
            <!-- <button (click)="deleteHero(detailSuperHero.id.toString())" class="btn btn-lg float-end">Delete
                Hero</button> -->
            <button (click)="deleteModal(detailSuperHero)" class="btn btn-lg float-end">Delete
                Hero</button>
        </div>
    </div>
    <div class="col-md justify-content-center">
        <img class="p-1 img-fluid max-width: 100% justify-content-center"
            src='assets/images/a{{detailSuperHero.nickName.trim()}}.jpg' alt="{{detailSuperHero.nickName}}">
    </div>
    <!-- <div class="col-md justify-content-center" *ngIf="showOrigpic">
        <img class="p-1 img-fluid max-width: 100% justify-content-center"
            src='assets/images/a{{detailSuperHero.id}}.jpg' alt="{{detailSuperHero.nickName}}">
    </div>
    <div class="col-md justify-content-center" *ngIf="showNewpic">
        <img class="p-1 img-fluid max-width: 100% justify-content-center"
            src='/assets/images/a{{detailSuperHero.nickName.trim()}}.jpg' alt="{{detailSuperHero.nickName}}">
    </div> -->
    <div>
        <br>
    </div>
</div>

<div class="modal" tabindex="-1" id="updateHero">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update {{detailSuperHero.nickName}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="phone">New Phone: </label>
                <br>
                <input type="text" id="phone" [(ngModel)]="wNewPhone">
                <br>
                <label for="comments">Date of Birth: </label>
                <br>
                <input type="date" id="comments" [(ngModel)]="dob">
                <!-- <input type="text" id="comments" cols="40" rows="5"> -->

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="updateHero(detailSuperHero)">Update Hero</button>
                <!-- <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Add Review</button> -->
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="deleteHero">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete {{detailSuperHero.nickName}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- <label for="phone">New Phone: </label>
                <br>
                <input type="text" id="phone" [(ngModel)]="detailSuperHero.phone">
                <br>
                <label for="comments">Date of Birth: </label>
                <br>
                <input type="date" id="comments" [(ngModel)]="dob"> -->
                <!-- <input type="text" id="comments" cols="40" rows="5"> -->

                <p>Are you sure you want to remove {{detailSuperHero.nickName}} from the registry?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="deleteHero(detailSuperHero.id.toString())">Delete
                    Hero</button>
                <!-- <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Add Review</button> -->
            </div>
        </div>
    </div>
</div>