<h1>Register Now!</h1>
<div>
    <h5>Do you have what it takes to step up when emergencies arrise? Register now to help those in need!</h5>
</div>
<div class="row">
    <div class="col-md-6 col-sm-12 col-lg-6">
        <div class="ml-2 mb-2 p-2">
            <form ngNativeValidate name="myForm">
                <div class="d-flex flex-row align-items-center mb-2">
                    <div class="form-outline flex-fill mb-0">
                        <input type="text" class="form-control" name="name" [(ngModel)]="newSuperHero.name" required>
                        <label class="form-label">Name</label>
                    </div>
                </div>
                <div class="d-flex flex-row align-items-center mb-2">
                    <div class="form-outline flex-fill mb-0">
                        <input type="text" class="form-control" name="nickname" [(ngModel)]="newSuperHero.nickName"
                            required>
                        <label class="form-label">Nickname</label>
                    </div>
                </div>
                <div class="d-flex flex-row align-items-center mb-2">
                    <div class="form-outline flex-fill mb-0">
                        <input type="text" class="form-control" name="phone" [(ngModel)]="newSuperHero.phone" required>
                        <label class="form-label">Phone</label>
                    </div>
                </div>
                <div class="d-flex flex-row align-items-center mb-2">
                    <div class="form-outline flex-fill mb-0">
                        <input type="date" class="form-control" name="dob" [(ngModel)]="dob" required>
                        <label class="form-label">Date of Birth</label>
                    </div>
                </div>
                <h3>Select your powers</h3>
                <div class="d-flex flex-row align-items-center mb-2">
                    <div class="form-outline flex-fill mb-0">
                        <select class="form-control" multiple name="powerselect" id="" [(ngModel)]="powerObjects">
                            <option *ngFor="let power of wPowers" [value]="power.id" [title]="power.description">
                                {{power.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="container mt-2 mb-2 justify content-right">
                    <p>
                        <button type="button" class="btn btn-primary" (click)="openModal()">Add a Power</button>
                        Can't find your super power? Add it!
                    </p>
                </div>
                <div class="d-flex justify-content-center mx-4 ">

                    <button (click)="onSubmit()" class="submit btn btn-lg">Register</button>
                </div>
                
            </form>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 col-lg-6">
        <div class="ml-2 mb-2 p-2">
            <img class="w-100" src="assets/images/allheroes.jpg" alt="registerpicture">
        </div>

    </div>

</div>

<div class="modal" tabindex="-1" id="addPower">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add a Power</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="userName">Super Power Name: </label>
                <br>
                <input type="text" id="userName" [(ngModel)]="newName">
                <br>
                <label for="comments">Description: </label>
                <br>
                <textarea name="Text1" id="comments" cols="40" rows="5" [(ngModel)]="newDescription"></textarea>
                <!-- <input type="text" id="comments" cols="40" rows="5"> -->

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="addPower()">Add Power</button>
                <!-- <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Add Review</button> -->
            </div>
        </div>
    </div>
</div>