<h1>We are so sad to see you leave</h1>
<div>
    <h5>{{wSuperHero.nickName}} has been removed from the registry</h5>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-lg-6">
        <div class="ml-2 mb-2 p-2">
            <img class="p-1 img-fluid max-width: 100% justify-content-center" src='assets/images/delete.jpg'
                alt="{{wSuperHero.nickName}}">
            <h2 class="px-5">Contact Information</h2>
            <table class="mx-5">
                <!-- <tr>
                    <th>Personal Information</th>
                    <th>Description</th>
                </tr> -->
                <tr>
                    <td><b>Name</b></td>
                    <td class="tdpadding">{{wSuperHero.name}}</td>
                </tr>
                <tr>
                    <td><b>Nickname</b></td>
                    <td class="tdpadding">{{wSuperHero.nickName}}</td>
                </tr>
                <tr>
                    <td><b>Phone</b></td>
                    <td class="tdpadding">{{wSuperHero.phone}}</td>
                </tr>
                <tr>
                    <td><b>Date of Birth</b></td>
                    <td class="tdpadding">{{displaydob}}</td>
                </tr>
            </table>
        </div>
        <div class="container mt-2 mb-2">

            <div class="row justify-content-center">
                <div class="ml-2 mb-2 p-2">
                    <h2 class="px-5">Power List</h2>
                    <table class="mx-5">
                        <!-- <tr>
                            <th>Name</th>
                            <th>Description</th>
                        </tr> -->
                        <tr *ngFor="let power of wHeroPowers">
                            <td class=" p-2"><b>{{power.name}}</b></td>
                            <td class=" p-2">{{power.description}}</td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
        <!-- <div class="col px-5">
            <button (click)="openModal(detailSuperHero)" class="btn btn-lg float-start">Update Hero</button>
            <button (click)="deleteHero(detailSuperHero.id.toString())" class="btn btn-lg float-end">Delete
                Hero</button>
        </div> -->
    </div>
    <div class="col-md justify-content-center">
        
        <img class="p-1 img-fluid max-width: 100% justify-content-center"
            src='assets/images/a{{wSuperHero.nickName.trim()}}.jpg' alt="{{wSuperHero.nickName}}">
            
        <!-- <img class="p-1 img-fluid max-width: 100% standalonepicture" src='assets/images/a{{detailSuperHero.id}}.jpg'
                    alt="{{detailSuperHero.nickName}}"> -->
        <!-- <img class="standalonepicture w-100" src='assets/images/a{{detailSuperHero.id}}.jpg'
                    alt="{{detailSuperHero.nickName}}"> -->
    </div>
    <div>

    </div>
</div>